.signup-page {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 50%, transparent),
    url('../../assets/images/gym-bg.jpg') center/cover no-repeat
      border-box;
  width: 100%;
  height: calc(100vh - 53px);
  display: flex;
  justify-content: space-evenly;
  /* gap: 3rem; */
  flex-wrap: wrap;
  align-items: center;
  overflow-y: scroll;
}

.signup-page h1{
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 3rem;
  /* margin: 0 3rem; */
}

.login-form {
  /* background: rgba(255, 255, 255, 0.74); */
  width: 350px;
  /* border: 2px solid rgb(214, 214, 214); */
  border-radius: 7px;
  padding: 2rem;
  color: white;
}

.signup-form-item {
  /* display: block !important; */
  /* margin-bottom: 0.5rem !important; */
}

.signup-form-item .ant-form-item-required{
  width: 110px;
  color: white;
}