.landing {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 50%, transparent),
    url('../../assets/images/landing-picture.jpg') center/cover no-repeat
      border-box;
  width: 100%;
  height: calc(100vh - 53px);
  position: relative;
}

.landing-text {
  position: absolute;
  top: 30%;
  left: 15%;
}

.landing h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  line-height: 3rem;
  margin-bottom: 10px;
}

.landing-text--keys {
  font-weight: 900;
  font-style: italic;
  font-size: 2.3rem;
  letter-spacing: 0.1rem;
}

.landing p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 1px;
}

.home-features h1{
  text-align: center;
  /* color: var(--primary); */
  margin: 2rem;
  font-style: italic;
  font-size: 2.5rem;
}

.home-features-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
  padding-bottom: 2rem;
}

.home-feature {
  max-width: 250px;

}


.home-feature--header {
  height: 100px;
}

.home-feature h2 {
  color: var(--secondary);
}

.popular-coaches-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 2rem 0 4rem;
  
  
}

.popular-coach-card {
  width: 250px;
  padding: 0.5rem;
  background-color: #fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(191,191,191,0.5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(191,191,191,0.5);
    box-shadow: 0px 3px 5px 0px rgba(191,191,191,0.5);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.popular-coach-card:hover ,
  .popular-coach-card:focus  {
    /* rgba(191,191,191,0.8 */
    -webkit-box-shadow: 0px 3px 13px 2px rgba(64, 147, 255, 0.5);
    -moz-box-shadow: 0px 3px 13px 2px rgba(64, 147, 255, 0.5);
    box-shadow: 0px 3px 13px 2px rgba(64, 147, 255, 0.5);

  }

.popular-coach-card__picture {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
  object-fit: cover;
  background-position: 0px -20px;
  background-size: cover;

}

.popular-coach-card__description h3 {
  color: var(--secondary);
}