.navbar {
  width: 100vw;
  height: 53px;
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

.brand {
  font-weight: 900;
  font-style: italic;
  font-size: 1.3rem;
}

.nav-menu {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  font-weight: 700;
}

.nav-menu--item{
  cursor: pointer;
}